.top{
    position: fixed;
    width: 100%;
    height: 1rem;
    top:0   ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.24rem;
    border-bottom: 2px solid #948f8f;
    background:#ccc;
}
.ico{
    font-size: 0.4rem;
    margin-left:0.2rem;
    margin-right: 0.2rem;
}
.img1{
    margin-top:0;
    width: 1.5rem;
    height:1.5rem;
    display: block;
    float: left;
}
.lie{
    padding-top: 1.1rem;
    padding-left:0.2rem;
}
.space{
    width: 100%;
    height:1.5rem;
    margin:0.25rem 0;
}
.sp{
    float: left;
    font-size: 0.4rem;
    width: 1.5rem;
    height:1.5rem;
    line-height: 1.5rem;
    text-align: center;
}

