.nav {
  height: 0.5rem;
  border-bottom: 1px solid #ccc;
  position: relative;
  text-align: center;
  line-height: 0.5rem;
}

.nav span {
  position: absolute;
  margin-left: -45%
}

.nav h1 {
  font-weight: 800;
  font-size: 0.26rem
}

.avatar {
  text-align: center;
  margin-top: 1rem
}

.inputBox {
  padding: 0 0.3rem;
  margin-top: 0.5rem;
}

.buttonReg {
  margin: 0.3rem 0
}

.elseLogin {
  text-align: center;
  margin: 0.1rem 0 0.8rem 0
}

.elseLogins {
  display: flex;
  justify-content: space-around;
}

.loginElse {
  display: flex;
  flex-direction: column;
}

.inputBox .inputPwd {
  margin: 0.2rem 0;
}

.elseLoginBig {
  text-align: center;
  margin: 1rem 0 1.3rem 0;
}

.nick {
  text-align: center;
  margin: 0.3rem 0;
  color: #ccc
}

.codeButton {
  margin: 0.2rem 0
}