.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1.1rem;
  border-bottom: 0.02rem solid #ccc;
  background-color: #fff;
}

.tag {
  display: flex;

}

.nav span {
  width: 1.1rem;
  border: 1px solid #333;
  text-align: center;
  height: 0.6rem;
  line-height: 0.6rem;
  color: #ccc;
}

.active {
  background-color: #f00;
}

.active1 {
  background-color: #fff;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.1rem;
}

.tags span {
  width: 25%;
  text-align: center;
  height: 100%;
  line-height: 1.1rem
}

.img {
  height: 4.2rem;
}

.img img {
  height: 100%;
  width: 100%;
}

.musicList {
  padding: 0 0 0 0.3rem;
  margin-bottom: 1.9rem;
}

.musicList li {
  height: 1.3rem;
}

.firstLi {
  line-height: 1.3rem;
  border-bottom: 1px solid #ccc;
}

.musicLi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.musicCount {
  flex: 1;
  display: flex;
  justify-content: space-between;
  border-top: 0.0rem solid #ccc;
  height: 100%;
  overflow: hidden;
  padding: 0 0.5rem 0 0;
}

.musicNum {
  width: 0.4rem;
  margin-right: 0.6rem;
}

.musicName {
  height: 100%;
}

.musicName p {
  height: 50%;
  padding: 0.15rem 0;
}

.play {
  margin-right: 0.4rem;
}

.playIcon {
  line-height: 1.3rem;
}

.audio {
  height: 0.5rem;
  position: fixed;
  bottom: 0.7rem;
  width: 100%;
}