.detailIcon {
  margin-top: 0.3rem;
}

.songname {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 0.2rem;
  align-content: center;
  font-size: 0.4rem;
}

.songdetail {
  display: flex;
  align-content: center;
  padding: 0.1rem 0.2rem;
  font-size: 0.4rem;

}

.playtitle {
  font-size: 0.4rem;
  color: rgb(100, 100, 100);
  margin: 0.1rem 0;
  padding: 0 0.2rem;
  display: flex;
  align-items: center;

}
